<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Update User</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}" />
</head>
<body>
<div class="container">
    <div th:replace="header :: header"></div>
    <div class="text">Create new User</div>
    <form
            method="POST"
            th:action="@{'/users/create'}"
            th:object="${user}"
    >
        <div
                class="error violations"
                th:if="${#lists.isEmpty(constraintViolations) == false}"
        >
            <div><svg width="48px" height="48px" viewBox="0 0 24 24" fill="none" style="align-content: center" xmlns="http://www.w3.org/2000/svg"><path d="M4 21V18.5C4 15.4624 6.46243 13 9.5 13H15M8 21V18M16.5 17V15M16.5 19.2V19M16 6.5C16 8.70914 14.2091 10.5 12 10.5C9.79086 10.5 8 8.70914 8 6.5C8 4.29086 9.79086 2.5 12 2.5C14.2091 2.5 16 4.29086 16 6.5ZM12.309 21H20.691C21.0627 21 21.3044 20.6088 21.1382 20.2764L16.9472 11.8944C16.763 11.5259 16.237 11.5259 16.0528 11.8944L11.8618 20.2764C11.6956 20.6088 11.9373 21 12.309 21Z" stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4"/></svg>️</div>
            <p>List of Constraint Violations:</p>
            <ul>
                <li
                        th:each="error : ${constraintViolations}"
                        th:text="${error.defaultMessage}"
                ></li>
            </ul>
        </div>

        <div class="form-row">
            <div class="input-data">
                <input
                        type="text"
                        id="firstName"
                        name="firstName"
                        th:field="*{firstName}"
                        required
                />

                <div class="underline"></div>
                <label for="firstName"
                >First Name: <span class="error" th:errors="*{firstName}"></span
                ></label>
            </div>
            <div class="input-data">
                <input
                        type="text"
                        id="lastName"
                        name="lastName"
                        th:field="*{lastName}"
                        required
                />
                <div class="underline"></div>
                <label for="lastName"
                >Last Name: <span class="error" th:errors="*{lastName}"></span
                ></label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                <input
                        type="email"
                        name="email"
                        id="email"
                        th:field="*{email}"
                        required
                />
                <div class="underline"></div>
                <label for="email"
                >Email: <span class="error" th:errors="*{email}"></span
                ></label>
            </div>

            <div class="input-data">
                <input
                        th:field="*{password}"
                        type="password"
                        name="password"
                        id="password"
                        th:value="${user.password}"
                        th:placeholder="${user.password}"
                        required
                />
                <div class="underline"></div>
                <label for="password"
                >Password: <span class="error" th:errors="*{password}"></span
                ></label>
            </div>
        </div>
        <div class="form-row-role">
            <label>Role:</label>
            <label>
                <select th:field="*{role}">
                    <option
                            th:each="role : ${roles}"
                            th:value="${role.getId()}"
                            th:selected="${role.getId()}"
                            th:text="${role.getName()}"
                    ></option>
                </select>
            </label>
        </div>

        <div class="form-row submit-btn">
            <div class="input-data">
                <div class="inner"></div>
                <input type="submit" value="CREATE" />
            </div>

            <div class="input-data">
                <div class="inner"></div>
                <input type="reset" value="Clear" />
            </div>
        </div>
    </form>
</div>
</body>
</html>