<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}" />
</head>
<body>
<div class="container">
    <div class="header-container">
        <div th:replace="header :: header"></div>
        <div class="search-container">
            <form action="/search" method="get">
                <label>
                    <input
                            type="text"
                            class="search-input"
                            name="userName"
                            placeholder="Search by name"
                    />
                </label>
                <button type="submit" class="search-icon">GO</button>
            </form>
        </div>
        <div class="header-home">
            <a th:href="@{'/users/create'}">Create new User</a>
        </div>
    </div>
    <div class="text" th:if="${not #lists.isEmpty(users)}">List of Users</div>
    <table class="table">
        <thead th:if="${not #lists.isEmpty(users)}">
        <tr scope="row">
            <th scope="col">No.</th>
            <th scope="col">Id</th>
            <th scope="col">Full name</th>
            <th scope="col">E-mail</th>
            <th colspan="2" scope="col">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(users)}">
            <td colspan="6">
                <div class="text">No users found</div>
            </td>
        </tr>
        <tr scope="row" th:each="user, state : ${users}">
            <td><b th:text="${state.count}"></b></td>
            <td>
                <a
                        th:text="${user.id}"
                        th:href="@{'/users/' + ${user.id} + '/read'}"
                ></a>
            </td>
            <td class="fullName">
                <a
                        th:text="${user.firstName + ' ' + user.lastName}"
                        th:href="@{'todos/all/users/' + ${user.id}}"
                ></a>
                <label>
                    <select>
                        <option
                                th:selected="${user.role}"
                                th:text="${user.role.getName()}"
                                disabled
                        ></option>
                    </select>
                </label>
            </td>
            <td class="fullName" th:text="${user.email}"></td>
            <td>
                <a
                        class="action-link"
                        th:href="@{'/users/' + ${user.id} + '/update'}"
                >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            width="21px"
                            height="21px"
                            viewBox="0 0 23 21"
                    >
                        <path
                                d="M2,21H8a1,1,0,0,0,0-2H3.071A7.011,7.011,0,0,1,10,13a5.044,5.044,0,1,0-3.377-1.337A9.01,9.01,0,0,0,1,20,1,1,0,0,0,2,21ZM10,5A3,3,0,1,1,7,8,3,3,0,0,1,10,5ZM20.207,9.293a1,1,0,0,0-1.414,0l-6.25,6.25a1.011,1.011,0,0,0-.241.391l-1.25,3.75A1,1,0,0,0,12,21a1.014,1.014,0,0,0,.316-.051l3.75-1.25a1,1,0,0,0,.391-.242l6.25-6.25a1,1,0,0,0,0-1.414Zm-5,8.583-1.629.543.543-1.629L19.5,11.414,20.586,12.5Z"
                        />
                    </svg>
                </a>
            </td>
            <td>
                <a
                        class="action-link"
                        th:href="@{'/users/' + ${user.id} + '/delete'}"
                >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            width="21px"
                            height="21px"
                            viewBox="0 0 23 21"
                    >
                        <path
                                d="M1,20a1,1,0,0,0,1,1h8a1,1,0,0,0,0-2H3.071A7.011,7.011,0,0,1,10,13a5.044,5.044,0,1,0-3.377-1.337A9.01,9.01,0,0,0,1,20ZM10,5A3,3,0,1,1,7,8,3,3,0,0,1,10,5Zm12.707,9.707L20.414,17l2.293,2.293a1,1,0,1,1-1.414,1.414L19,18.414l-2.293,2.293a1,1,0,0,1-1.414-1.414L17.586,17l-2.293-2.293a1,1,0,0,1,1.414-1.414L19,15.586l2.293-2.293a1,1,0,0,1,1.414,1.414Z"
                        />
                    </svg>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>